<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>App was submitted</h1>
    <p>
      Check it out here: http://<%= @domain %>/admin/apps/<%= @app.id %>
    </p>

    <p>
      <b>Name:</b>
      <%= @app.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @app.description %>
    </p>

    <p>
      <b>Developer:</b>
      <%= @app.developer %>
    </p>

    <p>
      <b>Application url:</b>
      <%= @app.application_url %>
    </p>

  </body>
</html>
