<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your app was published!</h1>
    <p>
      Check it out: http://<%= @domain %>/apps/
    </p>
    <p>
      We also sent a tweet out to our followers
    </p>
    <p>
      <b>Name:</b>
      <%= @app.name %>
    </p>

    <p>
      <b>Description:</b>
      <%= @app.description %>
    </p>

    <p>
      <b>Developer:</b>
      <%= @app.developer %>
    </p>

    <p>
      <b>Application url:</b>
      <%= @app.application_url %>
    </p>

  </body>
</html>
