<%= form_for @app do |f| %>
  <% if @app.errors.any? %>
    <div class='form-errors'>
      <p>
        <span class='icon-warning-sign icon'></span>
        Hm, looks like there's <strong><%= pluralize(@app.errors.count, "issues") %></strong> with this submission:
      </p>

      <ul class='bulleted'>
        <% @app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class='fields'>
    <li>
      <%= f.label :name, 'Application name' %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 2 %>
    </li>

    <li>
      <%= f.label :developer, 'Twitter handle' %>
      <span class='hint-text'>(this is how you'll be identified)</span>
      <span class='prepended-input'>
        <span class='symbol'>@</span>
        <%= f.text_field :developer %>
      </span>
    </li>

    <li>
      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %>
    </li>

    <li>
      <%= f.label :application_url %>
      <%= f.text_field :application_url %>
    </li>

    <li>
      <%= f.label :image, 'Image' %>
      <span class='hint-text'>(4:3 aspect ratio and at least 280x210 is ideal)</span>
      <%= f.file_field :image %>
    </li>
  </ul>

  <button class='btn' type='submit'>Submit</button>
<% end %>