<%= form_for @app do |f| %>
  <% if @app.errors.any? %>
    <div class='form-errors'>
      <p>Hm, looks like there's <%= pluralize(@app.errors.count, "issues") %> with this submission:</p>

      <ul class='bulleted'>
        <% @app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class='fields'>
    <li>
      <%= f.label :name, 'Application name' %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 3 %>
    </li>

    <li>
      <%= f.label :developer %>
      <%= f.text_field :developer %>
    </li>

    <li>
      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %>
    </li>

    <li>
      <%= f.label :application_url %>
      <%= f.text_field :application_url %>
    </li>

    <li>
      <%= f.label :image, 'Image' %>
      <%= f.file_field :image %>
    </li>
  </ul>

  <button class='btn' type='submit'>Submit</button>
<% end %>