<div class='pitch'>
  <a href='/apps/new' class='btn'>Submit Your App</a>
  <p class='pitch-text'>Mankind boasts many heroes, men of purpose and dedication without whom the Imperium would crumble.</p>
</div>

<ul class='apps'>
<% @apps.each do |app| %>
  <li class='app-listing'>
    <img src="<%= app.image.url(:medium) %>" alt="" />

    <div class="app-details">
      <h2 class='app-name'><%= app.name %></h2>
      <p class='app-developer'>by <%= app.developer %></p>
      <p class='app-description'><%= app.description %></p>
      <%= link_to 'View', app_path(app), :class => 'view-app btn' %>
    </div>
  </li>
<% end %>
</ul>
