<a class='btn wide' href='/'>Back to listings</a>

<div class='app-show page-box'>
  <%= image_tag @app.image.url(:medium), :class => 'app-image', :alt => '' %>

  <div class='app-details'>
    <h2><%= @app.name %></h2>
    <p>by <%= @app.developer %></p>
    <p><%= @app.description %></p>

    <%= link_to 'Visit', @app.application_url, :class => 'btn wide' %>
  </div>
</div>